@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--colour-primary: #58a6f0;
	--colour-primary-second: #388bfd66;
	--colour-secondary: #4078c0;
	--colour-black-one: #0d1117;
	--colour-black-second: #010409;
	--colour-black-third: #161b22;
	--colour-black-fourth: #21262d;
	--colour-text-white: #c9d1d9;
	--colour-text-white-two: #e1eaf3;
	--colour-text-grey: #8b949e;
	--colour-accent-one: #29b950;
	--colour-accent-second: #1a5729;
	--colour-accent-third: #6e5494;
	--colour-warning: #d29922;
	--colour-warning-second: #272115;
	--colour-warning-third: #624711;
	--colour-error: #f8513d;
	--colour-error-second: #6b2a2b;
	--colour-black-with-opacity: rgba(0, 0, 0, 0.5);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
input,
textarea,
button {
	font-family: "Roboto", sans-serif;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	line-height: 190%;
	background-color: var(--colour-black-one);
	color: var(--colour-text-white);
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}
/* -------------- utilities ---------------- */

.margin-left {
	margin-left: auto;
}
.margin-right {
	margin-right: auto;
}

.space-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}
.space-evenly {
	justify-content: space-evenly;
}
.center {
	justify-content: center;
}
