@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--colour-primary: #58a6f0;
	--colour-primary-second: #388bfd66;
	--colour-secondary: #4078c0;
	--colour-black-one: #0d1117;
	--colour-black-second: #010409;
	--colour-black-third: #161b22;
	--colour-black-fourth: #21262d;
	--colour-black-fifth: #383838;
	--colour-text-white: #c9d1d9;
	--colour-text-white-two: #e1eaf3;
	--colour-text-grey: #8b949e;
	--colour-accent-one: #29b950;
	--colour-accent-second: #1a5729;
	--colour-accent-third: #6e5494;
	--colour-warning: #d29922;
	--colour-warning-second: #272115;
	--colour-warning-third: #624711;
	--colour-warning-fourth: #ffee80;
	--colour-error: #f8513d;
	--colour-error-second: #6b2a2b;
	--colour-dark-with-opacity: rgba(0, 0, 0, 0.5);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
input,
textarea,
button {
	font-family: "Inter", sans-serif;
}

li {
	list-style: none;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 1.6rem;
	line-height: 190%;
	background-color: var(--colour-black-one);
	color: var(--colour-text-white);
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
picture {
	max-width: 100%;
	display: block;
}
/* -------------- utilities ---------------- */

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.margin-left {
	margin-left: auto;
}

.margin-right {
	margin-right: auto;
}

.space-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}
.space-evenly {
	justify-content: space-evenly;
}
.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.align-items-not-center {
	align-items: normal !important;
}

.justify-content-not-center {
	justify-content: normal !important;
}

h1 {
	font-size: calc(2.3rem + 1.5vw);
	font-weight: 500;
	line-height: 1.2;
}

h2 {
	font-size: calc(2.2rem + 0.9vw);
	font-weight: 500;
	line-height: 4rem;
}

h3 {
	font-size: calc(2.1rem + 0.6vw);
	font-weight: 500;
	line-height: 3.2rem;
}

h4 {
	font-size: calc(2rem + 0.3vw);
	font-weight: 500;
	line-height: 2.4rem;
}

h5 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.6rem;
}
h6 {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.6rem;
}

.p-h1 {
	font-size: 4.8rem;
	font-weight: 300;
	line-height: 6.4rem;
}

.p-h2 {
	font-size: 3.2rem;
	font-weight: 300;
	line-height: 4rem;
}

.p-h3 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 3.2rem;
}

.p-h4 {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.4rem;
}

.p-h5 {
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 1.6rem;
}

hr {
	/* border: 0; */
	margin: 0.5rem 0;
	width: 90%;
	height: 2px;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px var(--colour-text-grey);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
	background: var(--colour-secondary);
	border-radius: 1rem;

	box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px var(--colour-dark-with-opacity);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--colour-primary);
}
