.showcase-body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 80ch;
	width: 100%;
	transition: all 0.5s ease;
}

.showcase-list-item {
	margin: 0.5rem 0 0.5rem 2rem;
	cursor: pointer;
	transition: all 0.5s ease;
}

.showcase-list-group {
	transition: all 0.5s ease;
}

.showcase-header {
	color: var(--colour-text-white-two);
	font-weight: 700;
}

.colour-holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 60vw;
	margin: 1rem 0;
}

.colour-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem;
	margin: 1rem;
	width: 12rem;
	height: 12rem;
	border-radius: 1rem;
	color: var(--colour-black-third);
	border: 1px solid var(--colour-black-fourth);
}

.colour-box-primary {
	background-color: var(--colour-primary);
}

.colour-box-secondary {
	background-color: var(--colour-secondary);
}

.colour-box-accent {
	background-color: var(--colour-accent-one);
}

.colour-box-accent-two {
	background-color: var(--colour-accent-third);
}

.colour-box-error {
	background-color: var(--colour-error);
}

.colour-box-warning {
	background-color: var(--colour-warning);
}

.colour-box-white {
	background-color: var(--colour-text-white-two);
}
.colour-box-black {
	background-color: var(--colour-black-one);
	color: var(--colour-text-white-two);
}
