.img {
	aspect-ratio: 1;
	max-width: 16rem;
	object-fit: cover;
}

.img-circular {
	border-radius: 50%;
	border: 1px solid var(--colour-text-white);
}

.img-rounded-square {
	border-radius: 1.8rem;
	border: 1px solid var(--colour-text-white);
}

.img:hover {
	opacity: 0.8;
	transform: scale(1.006);
	border: 2px solid var(--colour-text-white);
}

.img-responsive-container {
	max-width: 50vw;
}
.img-responsive {
	max-width: 100%;
	display: block;
}
