<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/prism/prism.css" />

		<title>Image | UI Game</title>
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Image</h1>
		<hr />
		<h1 class="showcase-header">Circular Image</h1>
		<div class="component-holder">
			<img class="img img-circular" src="../../../assets/images/ellie.jpg" alt="ellie" />
			<img class="img img-circular" src="../../../assets/images/forbidden-bg.jpg" alt="forbidden-west" />
			<img class="img img-circular" src="../../../assets/images/aloy.jpg" alt="aloy" />
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<img class="img img-circular" src="..." />
				<img class="img img-circular" src="..." />
				<img class="img img-circular" src="..." />
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Rounded square Image</h1>
		<div class="component-holder">
			<img class="img img-rounded-square" src="../../../assets/images/ellie.jpg" alt="ellie" />
			<img class="img img-rounded-square" src="../../../assets/images/forbidden-bg.jpg" alt="forbidden-west" />
			<img class="img img-rounded-square" src="../../../assets/images/aloy.jpg" alt="aloy" />
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<img class="img img-rounded-square" src="..." />
				<img class="img img-rounded-square" src="..." />
				<img class="img img-rounded-square" src="..." />
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Responsive Image</h1>
		<div class="img-responsive-container">
			<div class="component-holder">
				<picture class="img-responsive">
					<source media="(min-width:1200px)" srcset="../../../assets/images/ellie.jpg" />
					<source media="(min-width:780px)" srcset="../../../assets/images/forbidden-bg.jpg" />
					<source media="(min-width:400px)" srcset="../../../assets/images/aloy.jpg" />
					<img src="../../../assets/images/forbiden-bg.jpg" alt="forbidden west" />
				</picture>
			</div>
		</div>

		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<picture class="img-responsive">
					<source media="(min-width:1200px)" srcset="..." />
					<source media="(min-width:780px)" srcset="..." />
					<source media="(min-width:400px)" srcset="..." />
					<img src="..." alt="..." />
				</picture>
			</script>
		</div>
		<script src="/prism/prism.js"></script>
	</body>
</html>
