<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<title>Image | UI Game</title>
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Image</h1>
		<hr />
		<h1 class="showcase-header">Circular Image</h1>
		<div class="component-holder">
			<img class="img img-circular" src="../../../assets/images/ellie.jpg" alt="ellie" />
			<img class="img img-circular" src="../../../assets/images/forbidden-bg.jpg" alt="forbidden-west" />
			<img class="img img-circular" src="../../../assets/images/aloy.jpg" alt="aloy" />
		</div>
		<div class="component-code-holder">
			<iframe
				src="https://carbon.now.sh/embed?bg=rgba%2833%2C38%2C45%2C1%29&t=cobalt&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=16px&dsblur=15px&wc=true&wa=true&pv=31px&ph=24px&ln=false&fl=1&fm=Ubuntu+Mono&fs=14.5px&lh=90%25&si=false&es=4x&wm=false&code=%253Cimg%2520class%253D%2522img%2520img-circular%2522%2520src%253D%2522..%2522%2520alt%253D%2522..%2522%2520%252F%253E%250A%253Cimg%2520class%253D%2522img%2520img-circular%2522%2520src%253D%2522..%2522%2520alt%253D%2522..%2522%2520%252F%253E%2520%250A%253Cimg%2520class%253D%2522img%2520img-circular%2522%2520src%253D%2522..%2522%2520alt%253D%2522..%2522%2520%252F%253E"
				style="width: 463px; height: 175px; border: 0; transform: scale(1); overflow: hidden"
				sandbox="allow-scripts allow-same-origin"
			>
			</iframe>
		</div>
		<hr />

		<h1 class="showcase-header">Rounded square Image</h1>
		<div class="component-holder">
			<img class="img img-rounded-square" src="../../../assets/images/ellie.jpg" alt="ellie" />
			<img class="img img-rounded-square" src="../../../assets/images/forbidden-bg.jpg" alt="forbidden-west" />
			<img class="img img-rounded-square" src="../../../assets/images/aloy.jpg" alt="aloy" />
		</div>
		<div class="component-code-holder">
			<iframe
				src="https://carbon.now.sh/embed?bg=rgba%2833%2C38%2C45%2C1%29&t=cobalt&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=16px&dsblur=15px&wc=true&wa=true&pv=31px&ph=24px&ln=false&fl=1&fm=Ubuntu+Mono&fs=14.5px&lh=90%25&si=false&es=4x&wm=false&code=%253Cimg%2520class%253D%2522img%2520img-rounded-square%2522%2520src%253D%2522..%2522%2520alt%253D%2522..%2522%2520%252F%253E%250A%253Cimg%2520class%253D%2522img%2520img-rounded-square%2522%2520src%253D%2522..%2522%2520alt%253D%2522..%2522%2520%252F%253E%2520%250A%253Cimg%2520class%253D%2522img%2520img-rounded-square%2522%2520src%253D%2522..%2522%2520alt%253D%2522..%2522%2520%252F%253E"
				style="width: 506px; height: 175px; border: 0; transform: scale(1); overflow: hidden"
				sandbox="allow-scripts allow-same-origin"
			>
			</iframe>
		</div>
		<hr />

		<h1 class="showcase-header">Responsive Image</h1>
		<div class="img-responsive-container">
			<div class="component-holder">
				<picture class="img-responsive">
					<source media="(min-width:1200px)" srcset="../../../assets/images/ellie.jpg" />
					<source media="(min-width:780px)" srcset="../../../assets/images/forbidden-bg.jpg" />
					<source media="(min-width:400px)" srcset="../../../assets/images/aloy.jpg" />
					<img src="../../../assets/images/forbiden-bg.jpg" alt="forbidden west" />
				</picture>
			</div>
		</div>

		<div class="component-code-holder">
			<iframe
				src="https://carbon.now.sh/embed?bg=rgba%2833%2C38%2C45%2C1%29&t=cobalt&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=16px&dsblur=15px&wc=true&wa=true&pv=31px&ph=24px&ln=false&fl=1&fm=Ubuntu+Mono&fs=14.5px&lh=90%25&si=false&es=4x&wm=false&code=%250A%253Cpicture%2520class%253D%2522img-responsive%2522%253E%250A%2509%253Csource%2520media%253D%2522%28min-width%253A1280px%29%2522%2520srcset%253D%2522..%2522%2520%252F%253E%250A%2509%253Csource%2520media%253D%2522%28min-width%253A868px%29%2522%2520srcset%253D%2522..%2522%2520%252F%253E%250A%2509%253Csource%2520media%253D%2522%28min-width%253A500px%29%2522%2520srcset%253D%2522..%2522%2520%252F%253E%250A%2509%253Cimg%2520src%253D%2522..%2522%2520alt%253D%2522...%2522%2520%252F%253E%250A%253C%252Fpicture%253E"
				style="width: 478px; height: 227px; border: 0; transform: scale(1); overflow: hidden"
				sandbox="allow-scripts allow-same-origin"
			>
			</iframe>
		</div>
	</body>
</html>
