<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="../../../css/main.css" />

		<link rel="stylesheet" href="/prism/prism.css" />
		<title>Badge | UI Game</title>
	</head>
	<body>
		<div class="showcase-body">
			<h1>Badge</h1>
			<p>Badges are used to show the certain status of that particular UI element.</p>
			<hr />
			<h1>Badge with a number.</h1>
			<p>
				A badge can be created by wrapping a parent element inside a <code><b>badge-holder</b></code> class.
			</p>

			<div class="space-evenly component-holder">
				<div class="badge-holder">
					<img class="avatar avatar-lg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
					<div class="badge-number">1</div>
				</div>

				<div class="badge-holder">
					<img src="../../../assets/svg/message.svg" alt="" />
					<div class="badge-icon">9</div>
				</div>
			</div>
			<div class="component-code-holder">
				<script type="text/plain" class="line-numbers language-html">
					<div class="badge-holder">
						<img class="avatar avatar-lg" src="..." alt="aloy selfie" />
						<div class="badge-number">1</div>
					</div>

					<div class="badge-holder">
						<img src="..." alt="" />
						<div class="badge-icon">9</div>
					</div>
				</script>
			</div>

			<hr />

			<h1>Badge with status</h1>
			<p>Different status of the badge can be created using different tags</p>
			<div class="space-evenly component-holder">
				<div class="badge-holder">
					<img class="avatar avatar-lg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
					<div class="badge-status"></div>
				</div>
				<div class="badge-holder">
					<img class="avatar avatar-lg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
					<div class="badge-status online"></div>
				</div>
				<div class="badge-holder">
					<img class="avatar avatar-lg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
					<div class="badge-status dnd"></div>
				</div>
				<div class="badge-holder">
					<img class="avatar avatar-lg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
					<div class="badge-status idle"></div>
				</div>
			</div>
			<div class="component-code-holder">
				<script type="text/plain" class="line-numbers language-html">
					<div class="badge-holder">
						<img class="avatar avatar-lg" src="..." />
						<div class="badge-status"></div>
					</div>

					<div class="badge-holder">
						<img class="avatar avatar-lg" src="..." />
						<div class="badge-status online"></div>
					</div>

					<div class="badge-holder">
						<img class="avatar avatar-lg" src="..." />
						<div class="badge-status dnd"></div>
					</div>

					<div class="badge-holder">
						<img class="avatar avatar-lg" src="..." />
						<div class="badge-status idle"></div>
					</div>
				</script>
			</div>
		</div>
		<script src="/prism/prism.js"></script>
	</body>
</html>
