<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<title>Badge | UI Game</title>
	</head>
	<body>
		<nav>
			<header class="navbar-heading">UI Game</header>
		</nav>
		<hr />
		<div class="main-body">
			<h1>Badge</h1>
			<p>Badges are used to show the certain status of that particular UI element.</p>
			<hr />
			<h1>Badge with a number.</h1>
			<p>A badge can be created by wrapping a parent element inside a badge class.</p>

			<div class="badge">
				<img class="avatar avatar-lg" src="https://picsum.photos/200/300" alt="Lorem Picsum" />
				<div class="badge-number">1</div>
			</div>

			<div class="badge">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					aria-hidden="true"
					role="img"
					class="iconify iconify--mdi"
					width="40"
					height="40"
					preserveAspectRatio="xMidYMid meet"
					viewBox="0 0 32 20"
				>
					<path d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8h5z" fill="currentColor"></path>
				</svg>
				<div class="badge-number">9</div>
			</div>
			<hr />

			<h1>Badge with status</h1>

			<div class="badge">
				<img class="avatar avatar-lg" src="https://picsum.photos/200/300" alt="Lorem Picsum" />
				<div class="badge-status"></div>
			</div>

			<div class="badge">
				<img class="avatar avatar-lg" src="https://picsum.photos/200/300" alt="Lorem Picsum" />
				<div class="badge-status online"></div>
			</div>

			<div class="badge">
				<img class="avatar avatar-lg" src="https://picsum.photos/200/300" alt="Lorem Picsum" />
				<div class="badge-status dnd"></div>
			</div>

			<div class="badge">
				<img class="avatar avatar-lg" src="https://picsum.photos/200/300" alt="Lorem Picsum" />
				<div class="badge-status idle"></div>
			</div>
		</div>
	</body>
</html>
