<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/prism/prism.css" />
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Alert</h1>
		<p>
			Alerts are used to notify the user of an important event. They can be used to inform the user of an event, or to prompt the user to take
			an action.
		</p>
		<hr />
		<h1 class="showcase-header">Error alert</h1>
		<p>Error alerts are used to notify the user of an error.</p>
		<div class="component-holder">
			<div class="alert alert-error">
				<img src="../../../assets/svg/error.svg" alt="error" />
				<p>This is a error alert</p>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="alert alert-error">
					<img src="..." alt="error"/>
					<p>This is a error alert</p>
				</div>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Success alert</h1>
		<p>Success alerts are used to notify the user of a successful event.</p>
		<div class="component-holder">
			<div class="alert alert-success">
				<img src="../../../assets/svg/success.svg" alt="Success" />
				<p>This is a success alert</p>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="alert alert-success">
					<img src="..." alt="Success"/>
					<p>This is a success alert</p>
				</div>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Warning alert</h1>
		<p>Warning alerts are used to notify the user of a warning.</p>
		<div class="component-holder">
			<div class="alert alert-warning">
				<img src="../../../assets/svg/warning.svg" alt="warning" />
				<p>This is a warning alert</p>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="alert alert-warning">
					<img src="..." alt="warning"/>
					<p>This is a warning alert</p>
				</div>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Info alert</h1>
		<p>Info alerts are used to notify the user of an important event.</p>

		<div class="component-holder">
			<div class="alert alert-info">
				<img src="../../../assets/svg/info.svg" alt="warning" />
				<p>This is a info alert</p>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="alert alert-info">
					<img src="..." alt="warning"/>
					<p>This is a info alert</p>
				</div>
			</script>
		</div>
		<script src="/prism/prism.js"></script>
	</body>
</html>
