.avatar {
	border-radius: 50%;
	object-fit: cover;
	overflow: hidden;
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--colour-text-grey);
	box-shadow: 2px 2px 1.5rem var(--colour-dark-with-opacity);
}

.avatar-xlg {
	width: 15rem;
	height: 15rem;
}

.avatar-lg {
	width: 12rem;
	height: 12rem;
}

.avatar-md {
	width: 8rem;
	height: 8rem;
}

.avatar-sm {
	width: 4rem;
	height: 4rem;
}

.avatar-xsm {
	width: 2rem;
	height: 2rem;
}
