<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<title>Avatar | UI Game</title>
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Avatar</h1>
		<p>Avatars are objects that represent the user's identity on screen.</p>
		<hr />
		<h1>Circular Avatar</h1>
		<p>Circular avatars can be created using the <code>avatar</code> class inside the <code>img</code> tag</p>
		<div class="component-holder">
			<img class="avatar avatar-md" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-md" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-md" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
		</div>
		<div class="component-code-holder">
			<iframe
				src="https://carbon.now.sh/embed?bg=rgba%2833%2C38%2C45%2C1%29&t=cobalt&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=16px&dsblur=15px&wc=true&wa=true&pv=33px&ph=16px&ln=false&fl=1&fm=Ubuntu+Mono&fs=14.5px&lh=90%25&si=false&es=4x&wm=false&code=%250A%253Cimg%2520class%253D%2522avatar%2520avatar-md%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-md%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-md%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520%252F%253E"
				style="width: 454px; height: 192px; border: 0; transform: scale(1); overflow: hidden"
				sandbox="allow-scripts allow-same-origin"
			>
			</iframe>
		</div>
		<hr />
		<h1>Different Avatar size.</h1>
		<p>Total 5 sizes of an avatar to choose from avatar-xlg, avatar-lg, avatar-md, avatar-sm, avatar-xsm.</p>
		<div class="component-holder">
			<img class="avatar avatar-xlg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-lg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-md" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-sm" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-xsm" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
		</div>
		<div class="component-code-holder">
			<iframe
				src="https://carbon.now.sh/embed?bg=rgba%2833%2C38%2C45%2C1%29&t=cobalt&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=16px&dsblur=15px&wc=true&wa=true&pv=33px&ph=16px&ln=false&fl=1&fm=Ubuntu+Mono&fs=14.5px&lh=90%25&si=false&es=4x&wm=false&code=%250A%253Cimg%2520class%253D%2522avatar%2520avatar-xlg%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-lg%2522%2520%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-md%2522%2520%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-sm%2522%2520%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-xsm%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520%252F%253E"
				style="width: 462px; height: 218px; border: 0; transform: scale(1); overflow: hidden"
				sandbox="allow-scripts allow-same-origin"
			>
			</iframe>
		</div>
	</body>
</html>
