<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<link rel="stylesheet" href="avatar.css" />
		<title>Avatar | UI Game</title>
	</head>
	<body>
		<nav>
			<header class="navbar-heading">UI Game</header>
		</nav>

		<div class="main-body">
			<h1>Avatar</h1>
			<p>Avatars are object that represents the user's identity on screen.</p>

			<h1>Circular Avatar</h1>

			<p>Circular avatars can be created using <code>avatar</code> class inside the html tag</p>

			<img class="avatar avatar-md" src="https://picsum.photos/200/300" alt="Lorem Picsum" />
			<img class="avatar avatar-lg" src="https://picsum.photos/200/300" alt="Lorem Picsum" />
			<img class="avatar avatar-xsm" src="https://picsum.photos/200/300" alt="Lorem Picsum" />

			<h1>Different Avatar size</h1>
			<p>Total 5 sizes of avatar to choose from avatar-xlg, avatar-lg, avatar-md, avatar-sm, avatar-xsm</p>
			<img class="avatar avatar-xlg" src="https://picsum.photos/200/300" alt="Lorem Picsum" />

			<img class="avatar avatar-lg" src="https://picsum.photos/200/300" alt="Lorem Picsum" />

			<img class="avatar avatar-md" src="https://picsum.photos/200/300" alt="Lorem Picsum" />

			<img class="avatar avatar-sm" src="https://picsum.photos/200/300" alt="Lorem Picsum" />

			<img class="avatar avatar-xsm" src="https://picsum.photos/200/300" alt="Lorem Picsum" />
		</div>
	</body>
</html>
