.avatar {
	border-radius: 50%;
	object-fit: cover;
	margin: 1rem;
	width: 5rem;
	height: 5rem;
}

.avatar-xlg {
	width: 10rem;
	height: 10rem;
}

.avatar-lg {
	width: 7rem;
	height: 7rem;
}

.avatar-md {
	width: 5rem;
	height: 5rem;
}

.avatar-sm {
	width: 3rem;
	height: 3rem;
}

.avatar-xsm {
	width: 1.5rem;
	height: 1.5rem;
}
