<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/prism/prism.css" />

		<title>Avatar | UI Game</title>
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Avatar</h1>
		<p>Avatars are objects that represent the user's identity on screen.</p>
		<hr />
		<h1>Circular Avatar</h1>
		<p>Circular avatars can be created using the <code>avatar</code> class inside the <code>img</code> tag</p>
		<div class="component-holder">
			<img class="avatar avatar-md" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-md" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-md" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<img class="avatar avatar-md" src="..."/>
				<img class="avatar avatar-md" src="..."/>
				<img class="avatar avatar-md" src="..."/>
			</script>
		</div>
		<hr />
		<h1>Different Avatar size.</h1>
		<p>Total 5 sizes of an avatar to choose from avatar-xlg, avatar-lg, avatar-md, avatar-sm, avatar-xsm.</p>
		<div class="component-holder">
			<img class="avatar avatar-xlg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-lg" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-md" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-sm" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
			<img class="avatar avatar-xsm" src="../../../assets/images/aloy.jpg" alt="aloy selfie" />
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<img class="avatar avatar-xlg" src="..."/>
				<img class="avatar avatar-lg" src="..."/>
				<img class="avatar avatar-md" src="..."/>
				<img class="avatar avatar-sm" src="..."/>
				<img class="avatar avatar-xsm" src="..."/>
			</script>
		</div>
		<script src="/prism/prism.js"></script>
		<script src="/app.js"></script>
	</body>
</html>
