<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Text Utilities | UI Game</title>
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/prism/prism.css" />
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Text Utilities</h1>
		<hr />

		<h1 class="showcase-header">Headings</h1>
		<p> UI Game provides a number of headings to help you create a seamless UI using predefined CSS classes. </p>
		<div class="component-holder">
			<div class="flex-column align-items-center">
				<h1>h1. Heading</h1>
				<h2>h2. Heading</h2>
				<h3>h3. Heading</h3>
				<h4>h4. Heading</h4>
				<h5>h5. Heading</h5>
				<h6>h6. Heading</h6>
			</div>
			<div class="flex-column align-items-center">
				<h1 class="text-grey">h1. Heading</h1>
				<h2 class="text-grey">h2. Heading</h2>
				<h3 class="text-grey">h3. Heading</h3>
				<h4 class="text-grey">h4. Heading</h4>
				<h5 class="text-grey">h5. Heading</h5>
				<h6 class="text-grey">h6. Heading</h6>
			</div>
		</div>

		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<h1>h1. Heading</h1>
				<h2>h2. Heading</h2>
				<h3>h3. Heading</h3>
				<h4>h4. Heading</h4>
				<h5>h5. Heading</h5>
				<h6>h6. Heading</h6>

				//For grey text
				<h1 class="text-grey">h1. Heading</h1>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Small Text</h1>

		<div class="component-holder">
			<div class="flex-column align-items-center">
				<p class="text-small">p. Small Text</p>
				<p class="text-small text-grey">p. Small Text</p>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<p class="text-small">p. Small Text</p>
				<p class="text-small text-grey">p. Small Text</p>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Aligned Text</h1>
		<p> UI Game provides a number of text alignment classes to help you create a seamless UI using predefined CSS classes. </p>
		<div class="component-holder flex-column align-items-not-center">
			<p class="text-align-left">p. Left Aligned Text</p>
			<p class="text-align-left text-grey">p. Left Aligned Text</p>
			<p class="text-align-center">p. Center Aligned Text</p>
			<p class="text-align-center text-grey">p. Center Aligned Text</p>
			<p class="text-align-right">p. Right Aligned Text</p>
			<p class="text-align-right text-grey">p. Right Aligned Text</p>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<p class="text-align-left">p. Left Aligned Text</p>
				<p class="text-align-left text-grey">p. Left Aligned Text</p>
				<p class="text-align-center">p. Center Aligned Text</p>
				<p class="text-align-center text-grey">p. Center Aligned Text</p>
				<p class="text-align-right">p. Right Aligned Text</p>
				<p class="text-align-right text-grey">p. Right Aligned Text</p>
			</script>
		</div>
		<hr />
		<script src="/prism/prism.js"></script>
		<script src="/app.js"></script>
	</body>
</html>
