.textarea {
	background-color: var(--colour-black-third);
	color: var(--colour-text-white);
	border-radius: 0.5rem;
	font-size: 1.6rem;
	line-height: 190%;
	padding: 0.5rem;
	font-family: 'Roboto', sans-serif;
}

.text-field {
	outline: 1px solid var(--colour-primary-second);
	background-color: var(--colour-black-third);
	color: var(--colour-text-white);
	display: block;
	border: none;
	margin: 1rem;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	line-height: 190%;
	padding: 0.5rem;
	font-family: 'Roboto', sans-serif;
}
.text-field:focus {
	outline: 1px solid var(--colour-primary);
}

.text-field-error {
	outline: 1px solid var(--colour-error);
	background-color: var(--colour-error-second);
	color: var(--both-theme-white);
}

.text-field-error:focus {
	background-color: var(--colour-error-second);
	color: var(--both-theme-white);
}

.text-field-success {
	outline: 1px solid var(--colour-accent-one);
	background-color: var(--colour-accent-second);
	color: var(--both-theme-white);
}

.text-field-success:focus {
	color: var(--both-theme-white);
}
