<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<link rel="stylesheet" href="../../../prism/prism.css" />
		<title>Input | UI Game</title>
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Inputs</h1>
		<p></p>
		<hr />

		<h1 class="showcase-header">Textbox</h1>
		<div class="component-holder">
			<textarea name="" class="textarea" id="" cols="30" rows="5"></textarea>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<textarea name="" class="textarea" id="" cols="30" rows="5"></textarea>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Input </h1>
		<div class="component-holder">
			<input type="email" class="text-field" placeholder="Enter your email" />
			<input type="password" class="text-field" id="" placeholder="Enter your password" />
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<input type="email" class="text-field"/>
				<input type="password" class="text-field"/>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Error input</h1>
		<div class="component-holder">
			<input type="email" class="text-field-error text-field" id="" placeholder="Enter your email" />
			<input type="password" class="text-field-error text-field" id="" placeholder="Enter your password" />
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<input type="email" class="text-field-error text-field"/>
				<input type="password" class="text-field-error text-field"/>
			</script>
		</div>
		<hr />
		<h1 class="showcase-header">Success input</h1>
		<div class="component-holder">
			<input type="email" class="text-field text-field-success" id="" placeholder="Enter your email" />
			<input type="password" class="text-field text-field-success" id="" placeholder="Enter your password" />
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<input type="email" class="text-field text-field-success"/>
				<input type="password" class="text-field text-field-success"/>
			</script>
		</div>
		<script src="../../../prism/prism.js"></script>
	</body>
</html>
