<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<title>Input | UI Game</title>
	</head>
	<body>
		<nav>
			<header class="navbar-heading">UI Game</header>
		</nav>

		<hr />

		<div class="main-body">
			<h1>Inputs</h1>

			<h1>Textbox</h1>
			<div style="margin: 1rem">
				<textarea name="" class="textarea" id="" cols="30" rows="5"></textarea>
			</div>

			<h1>Input form</h1>
			<form action="">
				<input type="email" class="text-field" id="" placeholder="Enter your email" />
				<input type="password" class="text-field" id="" placeholder="Enter your password" />
			</form>
			<h1>Error input</h1>
			<form action="">
				<input type="email" class="text-field-error text-field" id="" placeholder="Enter your email" />
				<input type="password" class="text-field-error text-field" id="" placeholder="Enter your password" />
			</form>
			<h1>Success input</h1>
			<form action="">
				<input type="email" class="text-field text-field-success" id="" placeholder="Enter your email" />
				<input type="password" class="text-field text-field-success" id="" placeholder="Enter your password" />
			</form>
		</div>
	</body>
</html>
