<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<link rel="stylesheet" href="../../../prism/prism.css" />

		<title>Card | UI Game</title>
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Card</h1>
		<p>Cards are used to display content.</p>
		<hr />

		<h1>Card with badge</h1>
		<div class="component-holder">
			<div class="card card-sm">
				<div class="card-body"><img class="card-img" src="../../../assets/images/aloy.jpg" alt /> </div>
				<div class="card-footer space-around"><button class="btn btn-primary">BUY NOW</button></div>
				<div class="card-badge">
					<p>New Arrival</p>
				</div>
			</div>

			<div class="card card-md">
				<div class="card-body"><img class="card-img" src="../../../assets/images/ellie.jpg" alt /> </div>
				<div class="card-footer space-around"><button class="btn btn-primary">BUY NOW</button></div>
				<div class="card-badge">
					<p>New Arrival </p>
				</div>
			</div>

			<div class="card card-lg">
				<div class="card-body"><img class="card-img" src="../../../assets/images/forbidden-bg.jpg" alt /> </div>
				<div class="card-footer space-around"><button class="btn btn-primary">BUY NOW</button></div>
				<div class="card-badge">
					<p>New Arrival </p>
				</div>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				//Default card size is medium using 'card-md' class
				<div class="card card-md">
					<div class="card-body">
						<img class="card-img" src="..." alt=".."/>
					</div>
					<div class="card-footer space-around">
						<button class="btn btn-primary">BUY NOW</button>
				  	</div>
					<div class="card-badge">
						<p>New Arrival</p>
					</div>
				</div>
				//five different size of cards are available
				'card-sm', 'card-md', 'card-lg', 'card-xl', 'card-xxl'.
			</script>
		</div>
		<hr />

		<h1>Card with dismiss</h1>
		<div class="component-holder">
			<div class="card card-sm">
				<div class="card-header">
					<p>Launches today</p>
					<img class="card-icon" src="../../../assets/svg/cancel.svg" alt="" srcset="" />
				</div>
				<div class="card-body">
					<img class="card-img" src="../../../assets/images/aloy.jpg" alt />
				</div>
				<div class="card-footer space-around">
					<img class="card-icon" src="../../../assets/svg/heart.svg" alt="" />
					<img class="card-icon" src="../../../assets/svg/share.svg" alt="" />
				</div>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="card card-sm">
					<div class="card-header">
						<p>Launches today</p>
						<img class="card-icon" src="..." alt="" srcset="" />
					</div>
					<div class="card-body">
						<img class="card-img" src="..." alt="" />
					</div>
					<div class="card-footer space-around">
						<img class="card-icon" src="..." alt="" />
						<img class="card-icon" src="..." alt="" />
					</div>
				</div>
			</script>
		</div>
		<hr />

		<h1>Card with text overlay</h1>
		<div class="component-holder">
			<div class="card card-md card-overlay-holder">
				<div class="card-header">
					<p>Last of us 2</p>
				</div>
				<div class="card-body">
					<img class="card-img" src="../../../assets/images/ellie.jpg" alt />
				</div>
				<div class="card-footer space-around">
					<img class="card-icon" src="../../../assets/svg/heart.svg" alt="" />
					<img class="card-icon" src="../../../assets/svg/share.svg" alt="" />
				</div>
				<div class="card-overlay">
					<p>
						Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive
						Entertainment. It is set to be released on 18 February 2022 for the PlayStation 4 and PlayStation 5.
					</p>
				</div>
			</div>

			<div class="card card-sm">
				<div class="card-header">
					<p>Last of us 2</p>
				</div>
				<div class="card-body card-overlay-holder">
					<img class="card-img" src="../../../assets/images/ellie.jpg" alt />
					<div class="card-overlay">
						<p>Price:$50</p>
						<button class="btn btn-primary">BUY NOW</button>
					</div>
				</div>
				<div class="card-footer space-around">
					<img class="card-icon" src="../../../assets/svg/heart.svg" alt="" />
					<img class="card-icon" src="../../../assets/svg/share.svg" alt="" />
				</div>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="card card-md card-overlay-holder">
					<div class="card-header">
						<p>Last of us 2</p>
					</div>
					<div class="card-body">
						<img class="card-img" src="..." alt="" />
					</div>
					<div class="card-footer space-around">
						<img class="card-icon" src="..." alt="" />
						<img class="card-icon" src="..." alt="" />
					</div>
					<div class="card-overlay">
						<p>...</p>
					</div>
				</div>

				<div class="card card-sm">
					<div class="card-header">
						<p>Last of us 2</p>
					</div>
					<div class="card-body card-overlay-holder">
						<img class="card-img" src="..." alt="" />
						<div class="card-overlay">
							<p>Price:$50</p>
							<button class="btn btn-primary">BUY NOW</button>
						</div>
					</div>
					<div class="card-footer space-around">
						<img class="card-icon" src="..." alt="" />
						<img class="card-icon" src="..." alt="" />
					</div>
				</div>
			</script>
		</div>
		<hr />

		<h1>Text only card</h1>
		<div class="component-holder">
			<div class="card">
				<div class="card-header">
					<p class="p-h3">Horizon Forbidden West</p>
				</div>
				<hr />
				<div class="card-body">
					<p>
						Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive
						Entertainment. It is set to be released on 18 February 2022 for the PlayStation 4 and PlayStation 5.
					</p>
				</div>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="card">
					<div class="card-header">
						<p class="p-h3">Horizon Forbidden West</p>
					</div>
					<hr />
					<div class="card-body">
						<p>...</p>
					</div>
				</div>
			</script>
		</div>
		<hr />

		<h1>Horizontal card</h1>
		<div class="component-holder">
			<div class="card card-lg">
				<div class="card-body card-horizontal">
					<img class="img card-img-sm img-rounded-square" src="../../../assets/images/ellie.jpg" alt="ellie" />
					<div class="flex-column">
						<p>Horizon Forbidden West</p>
						<p>Price: $54</p>
						<div>
							<button class="btn btn-primary">Buy Now</button>
							<button class="btn btn-outline-secondary">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="card card-lg">
					<div class="card-body card-horizontal">
						<img class="img card-img-sm img-rounded-square" src="..." alt="ellie" />
						<div class="flex-column">
							<p>Horizon Forbidden West</p>
							<p>Price: $54</p>
							<div>
								<button class="btn btn-primary">Buy Now</button>
								<button class="btn btn-outline-secondary">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</script>
		</div>
		<script src="../../../prism/prism.js"></script>
	</body>
</html>
