.heading-div {
	background-color: var(--colour-black-second);

	border: 1px solid var(--colour-text-grey);
	border-radius: 1rem;
	max-width: 80%;
	width: 100%;
	margin: 2rem 0;
	padding: 1rem;
	transition: all 0.3s ease;
}
.heading-div h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0;
}
