<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/prism/prism.css" />

		<title>Button | UI Game</title>
		<style>
			/* This is to show Floating Action Button inside the component holder */
			.btn-fab {
				position: relative;
				bottom: 0;
				right: 0;
			}
		</style>
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Button</h1>
		<p>Buttons are objects that user's uses to interact with the application.</p>
		<hr />

		<h1 class="showcase-header">Primary button</h1>
		<div class="component-holder">
			<button class="btn btn-primary">Primary</button>
			<button class="btn btn-outline-primary">Outline primary button</button>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<button class="btn btn-primary">Primary</button>
				<button class="btn btn-outline-primary">Outline primary button</button>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Secondary button</h1>
		<div class="component-holder">
			<button class="btn btn-secondary">Secondary</button>
			<button class="btn btn-outline-secondary">Outline secondary button</button>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<button class="btn btn-secondary">Secondary</button>
				<button class="btn btn-outline-secondary">Outline secondary button</button>
			</script>
		</div>

		<hr />

		<h1 class="showcase-header">Danger button</h1>
		<div class="component-holder">
			<button class="btn btn-danger">Danger</button>
			<button class="btn btn-outline-danger">Outline danger button</button>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<button class="btn btn-danger">Danger</button>
				<button class="btn btn-outline-danger">Outline danger button</button>
			</script>
		</div>
		<hr />

		<h1 class="showcase-header">Link button</h1>
		<div class="component-holder">
			<button class="btn btn-link">Link button</button>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<button class="btn btn-link">Link button</button>
			</script>
		</div>
		<hr />

		<h1>FAB(Floating Action Button)</h1>
		<div class="component-holder">
			<button class="btn btn-fab btn-primary">
				<b>Click me!</b>
			</button>

			<button class="btn btn-fab">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					aria-hidden="true"
					role="img"
					class="iconify iconify--ic"
					width="32"
					height="32"
					preserveAspectRatio="xMidYMid meet"
					viewBox="0 0 24 24"
				>
					<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="currentColor"></path>
				</svg>
			</button>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<button class="btn btn-fab btn-primary">Click me!</button>
				<button class="btn btn-fab">+</button>
			</script>
		</div>
		<script src="/prism/prism.js"></script>
		<script src="/app.js"></script>
	</body>
</html>
