<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<title>Button | UI Game</title>
	</head>
	<body>
		<nav>
			<header class="navbar-heading">UI Game</header>
		</nav>

		<hr />

		<div class="main-body">
			<h1>Button</h1>
			<p>Buttons are objects that user's uses to interact with the application.</p>
			<h1>Primary button</h1>
			<button class="btn btn-primary">Primary</button>

			<h1>Secondary button</h1>
			<button class="btn btn-secondary">Secondary</button>

			<h1>Danger button</h1>
			<button class="btn btn-danger">Danger</button>

			<h1>Link button</h1>
			<button class="btn btn-link">Link button</button>
			<br />
			<br />
			<h1>Outlined Buttons</h1>
			<h1>Outline primary button</h1>
			<button class="btn btn-outline-primary">Outline primary button</button>
			<h1>Outline secondary button</h1>
			<button class="btn btn-outline-secondary">Outline secondary button</button>
			<h1>Outline danger button</h1>
			<button class="btn btn-outline-danger">Outline danger button</button>
			<br />
			<br />
			<h1>FAB(Floating Action Button)</h1>
			<button class="btn btn-fab">+</button>
		</div>
	</body>
</html>
