<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../styles.css" />
		<title>List</title>
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Lists</h1>
		<hr />

		<h1 class="showcase-header"> List Group </h1>
		<div class="component-holder">
			<ul class="list-group">
				<li class="list-group-item">
					<h3>List Group Item 1</h3>
					<p>This is the first item in the list</p>
				</li>
				<li class="list-group-item">
					<h3>List Group Item 2</h3>
					<p>This is the second item in the list</p>
				</li>
				<li class="list-group-item">
					<h3>List Group Item 3</h3>
					<p>This is the third item in the list</p> </li
				><li class="list-group-item">
					<h3>List Group Item 4</h3>
					<p>This is the fourth item in the list</p>
				</li>
			</ul>
		</div>
		<hr />

		<h1 class="showcase-header"> Active list item </h1>
		<div class="component-holder">
			<ul class="list-group">
				<li class="list-group-item list-group-item-active">
					<h3>List Group Item 1</h3>
					<p>This is the first item in the list</p>
				</li>
				<li class="list-group-item">
					<h3>List Group Item 2</h3>
					<p>This is the second item in the list</p>
				</li>
				<li class="list-group-item">
					<h3>List Group Item 3</h3>
					<p>This is the third item in the list</p> </li
				><li class="list-group-item">
					<h3>List Group Item 4</h3>
					<p>This is the fourth item in the list</p>
				</li>
			</ul>
		</div>
		<hr />

		<h1 class="showcase-header"> Disabled list item </h1>
		<div class="component-holder">
			<ul class="list-group">
				<li class="list-group-item list-group-item-disabled">
					<h3>List Group Item 1</h3>
					<p>This is the first item in the list</p>
				</li>
				<li class="list-group-item">
					<h3>List Group Item 2</h3>
					<p>This is the second item in the list</p>
				</li>
				<li class="list-group-item">
					<h3>List Group Item 3</h3>
					<p>This is the third item in the list</p> </li
				><li class="list-group-item">
					<h3>List Group Item 4</h3>
					<p>This is the fourth item in the list</p>
				</li>
			</ul>
		</div>
		<hr />

		<h1 class="showcase-header"> List without border </h1>
		<div class="component-holder">
			<ul class="list-group list-group-borderless">
				<li class="list-group-item">
					<h3>List Group Item 1</h3>
					<p>This is the first item in the list</p>
				</li>
				<li class="list-group-item">
					<h3>List Group Item 2</h3>
					<p>This is the second item in the list</p>
				</li>
				<li class="list-group-item">
					<h3>List Group Item 3</h3>
					<p>This is the third item in the list</p> </li
				><li class="list-group-item">
					<h3>List Group Item 4</h3>
					<p>This is the fourth item in the list</p>
				</li>
			</ul>
		</div>
		<hr />

		<h1 class="showcase-header">Notification List </h1>
		<div class="component-holder">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="card-body card-horizontal">
						<img class="card-img-sm img-rounded-square" src="../../../assets/images/aloy.jpg" alt="" />
						<div class="flex-column space-evenly margin-right">
							<h3>Horizon Forbidden West </h3>
							<p class="text-grey">Launching in 3 days!</p>
							<p>Price: $50</p>
						</div>
						<div class="flex-column space-around">
							<button class="btn btn-primary">Pre order now!!</button>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="card-body card-horizontal">
						<img class="card-img-sm img-rounded-square" src="../../../assets/images/aloy.jpg" alt="" />
						<div class="flex-column space-evenly margin-right">
							<h3>Horizon Forbidden West GOTY? </h3>
							<p>Listen to our podcast to know more.</p>
						</div>
						<div class="flex-column space-around">
							<button class="btn btn-primary">Listen on spotify</button>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="card-body card-horizontal">
						<img class="card-img-sm img-rounded-square" src="../../../assets/images/ellie.jpg" alt="" />
						<div class="flex-column space-evenly margin-right">
							<h3>Last of us 2</h3>
							<p class="text-grey">Offer valid till 16 feb</p>
							<p>Price: $30</p>
						</div>
						<div class="flex-column space-around">
							<button class="btn btn-primary">Pre order now!!</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
